<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}Lion Cloud{% endblock %}</title>
{% block stylesheets %}
  <!-- Bootstrap -->
   
    <link href="{{asset("bundles/project/css/bootstrap.min.css" )}}" rel="stylesheet">
	<link rel="stylesheet" href="{{asset("bundles/project/css/font-awesome.min.css")}}">
	<link href="{{asset("bundles/project/css/animate.min.css")}}" rel="stylesheet">
    <link href="{{asset("bundles/project/css/prettyPhoto.css")}}" rel="stylesheet">      
	<link href="{{asset("bundles/project/css/style.css")}}" rel="stylesheet">
	<link href="{{asset("bundles/project/css/responsive.css")}}" rel="stylesheet">
{% endblock %}
  
 <header id="header">
        <nav class="navbar navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Gp.</a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Blog</a></li> 
                        <li><a href="#">News</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
    
  </head>
  <body class="homepage">  
      
      
       {% block body %}
       
       {% endblock %}
	
	
         {% block footer %}
         
         <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; Gp Theme. All Rights Reserved.
                    <div class="credits">
                        <!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Gp
                        -->
                        <a href="https://bootstrapmade.com/">Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
         {% endblock %}
	
	{% block javascripts %}
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{asset("bundles/project/js/jquery.js")}}"></script>
    <script src="{{asset("bundles/project/js/bootstrap.min.js")}}"></script>
    <script src="{{asset("bundles/project/js/jquery.prettyPhoto.js")}}"></script>
    <script src="{{asset("bundles/project/js/jquery.isotope.min.js")}}"></script>   
    <script src="{{asset("bundles/project/js/wow.min.js")}}"></script>
   <script src="{{asset("bundles/project/js/main.js")}}"></script>
        {% endblock %}
  
    
</body>
</html>
